{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
{% load i18n %}

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{% blocktrans %}Listado de solicitudes de servicio{% endblocktrans %}</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="{% trans "table_Search" %}" class="form-control float-right" placeholder="{% trans "Search" %}">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0" style="height: 300px;">
        <table class="table table-head-fixed text-nowrap">
          <thead>
            <tr>
              <th>{% blocktrans %}Cédula o NIT{% endblocktrans %}</th>
              <th>{% blocktrans %}Tipo de persona{% endblocktrans %}</th>
              <th>{% blocktrans %}Nombre o razón social{% endblocktrans %}</th>
              <th>{% blocktrans %}Apellido{% endblocktrans %}</th>
              <th>{% blocktrans %}Correo{% endblocktrans %}</th>
              <th>{% blocktrans %}Telefono{% endblocktrans %}</th>
              <th>{% blocktrans %}Dirección{% endblocktrans %}</th>
              <th>{% blocktrans %}Opciones{% endblocktrans %}</th>
            </tr>
          </thead>
          <tbody>
              {% for cliente in clientes %}  
                <tr>
                  <td>{{cliente.cliente.cedula}}</td>
                  <td>{{cliente.cliente.tipo}}</td>
                  <td>{{cliente.cliente.first_name}}</td>
                  <td>{{cliente.cliente.last_name}}</td>
                  <td>{{cliente.cliente.email}}</td>
                  <td>{{cliente.cliente.telefono}}</td>
                  <td>{{cliente.direccion}}</td>
                  <td>
                    <div class="row">
                      <a class="btn btn-success btn-sm" data-toggle="tooltip" title="{% trans "Aceptar" %}" href="{% url 'usuarios:AceptarCliente' cliente.cliente.cedula %}" style="color: white !important;">
                        <i class="fas fa-user-check"></i>
                      </a>
                      <a class="btn btn-danger btn-sm" data-toggle="tooltip" title="{% trans "Rechazar" %}" href="{% url 'usuarios:RechazarCliente' cliente.cliente.cedula %}" style="color: white !important;">
                        <i class="fas fa-user-times"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
{% endblock content %}
