{% load static %}
{% load bootstrap4 %}
{% load i18n %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% blocktrans %}Login{% endblocktrans %}</title>
    <link rel="stylesheet" href="{% static 'dist/css/estilos2.css' %}">
</head>
<body>
    <div class="contenedor-form">
        <div class="formulario">
            <h2>{% blocktrans %}Iniciar Sesión{% endblocktrans %}</h2>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="{% trans "Iniciar sesion" %}">
            </form>
        </div>
        <div class="reset-password">
            <a href="#">{% blocktrans %}Olvide mi Contraseña?{% endblocktrans %}</a>
        </div>
    </div>

    <script src="{% static 'dist/js/jquery-3.5.1.js' %}"></script>    
    <script src="{% static 'dist/js/main.js' %}"></script>    
</body>
</html>