### Django ###
*.log
*.pot
*.pyc
__pycache__/

### VS code ###
.idea/
.vscode/

### Project cache ###
*/*/__pycache__/
*/__pycache__/


## Migrations ##
*/*/migrations/
*/migrations/


secrets.json

inicial/