### Django ###
*.log
*.pot
*.pyc
__pycache__/

### VS code ###
.idea/
.vscode/

### Project cache ###
*/*/__pycache__/
*/__pycache__/


## Migrations ##
##Not ignored for 
#*/*/migrations/
#*/migrations/

static_collected/

secrets.json

inicial/
