{% load static %}
{% load bootstrap4 %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pagar factura</title>
        <link rel="stylesheet" href="{% static 'dist/css/estilos2.css' %}">
        <link rel="stylesheet" href="{% static 'dist/css/pago.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
        

    </head>

    <body>
        <div class="container-fluid" id="grad1">
            <div class="row justify-content-center mt-0">
                <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
                    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                        <h2><strong>Paga tu factura en linea</strong></h2>
                        <p>completa toda la información para pagar tu factura</p>
                        <div class="row">
                            <div class="col-md-12 mx-0">
                                <form id="msform" method='POST' action="{% url 'facturas:pagar2'%}">
                                    {% csrf_token %}
                                    <!-- progressbar -->
                                    <ul id="progressbar">
                                        <li class="active" id="personal"><strong>Factura</strong></li>
                                        <li id="payment"><strong>Forma de pago</strong></li>
                                        <li id="confirm"><strong>Pago</strong></li>
                                    </ul> <!-- fieldsets -->

                                    <fieldset> <!-- Factura -->
                                        <div class="form-card">
                                            <h2 class="fs-title">Información de la factura</h2> 
                                            <input type="hidden" name="contrato" id="contrato" value="{{id}}" readonly>
                                            <h1>{{hoy}}</h1>
                                            <h1>{{msj}}</h1>
                                            {% for f in facturas %}
                                                <h3>Factura No. {{f.id}}</h3>
                                                <h3>Fecha: {{f.fecha}}</h3>
                                                <h3>Cargo por retraso: {{f.cargo_mora}}</h3>
                                                <h3>Total factura: {{f.total}}</h3>
                                                <br>
                                            {% endfor %}
                                            {% if r %}
                                                <h2>Valor reactivación {{r}}</h2>
                                            {% endif %}
                                            {% if total %}
                                                <h2>Total a pagar {{total}}</h2>
                                            {% endif %}
                                        </div>  
                                        <input type="button" name="next" class="next action-button" value="Siguiente" />
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-card"> <!-- Forma de pago -->
                                            <h2 class="fs-title">Forma de pago</h2>
                                            <div class="form-group">
                                                <select name="tipo" id="tipo" class="form-control custom-select">
                                                    <option value="banco">Banco</option>
                                                    <option value="tarjeta">Tarjeta de crédito</option>
                                                </select>
                                            </div>
                                            <div id="tc">
                                                <label class="pay">Nombre del propietario*</label> <input id="nombreT" type="text" name="holdername" placeholder="" />
                                                <div class="row">
                                                    <div class="col-9"> <label class="pay">Número*</label> <input id="no" type="number" name="cardno" placeholder="" /> </div>
                                                    <div class="col-3"> <label class="pay">CVC*</label> <input id="cvc" type="number" name="cvcpwd" placeholder="***" /> </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-3"> <label class="pay">Fecha vencimiento*</label> </div>
                                                    <div class="col-9"> 
                                                        <select class="list-dt" id="month" name="expmonth">
                                                            <option selected>Mes</option>
                                                            <option>Enero</option>
                                                            <option>Febrero</option>
                                                            <option>Marzo</option>
                                                            <option>Abril</option>
                                                            <option>Mayo</option>
                                                            <option>Junio</option>
                                                            <option>Julio</option>
                                                            <option>Agosto</option>
                                                            <option>Septiembre</option>
                                                            <option>Octubre</option>
                                                            <option>Noviembre</option>
                                                            <option>Diciembre</option>
                                                        </select> 
                                                        <div class="col-4"><input id="año" type="number" name="cvcpwd" placeholder="Año" maxlength=4 /></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="banco">
                                                <label class="pay">Nombre completo*</label> <input id="nombre" type="text" name="holdername" placeholder="" required="required"/>
                                                <div class="row">
                                                    <div class="col-6"> <label class="pay">Email*</label> <input id="email" type="email" name="cardno" placeholder="" required="required"/> </div>
                                                    <div class="col-6"> <label class="pay">Cédula*</label> <input id="cedula" type="number" name="cvcpwd" placeholder="" required="required"/> </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-3"> <label class="pay">Banco*</label> </div>
                                                    <div class="col-9"> 
                                                        <select class="list-dt" id="month" name="expmonth">
                                                            <option selected>Bancolombia</option>
                                                            <option>Banco de Bogotá</option>
                                                            <option>BBVA</option>
                                                        </select> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <input type="button" name="previous" class="previous action-button-previous" value="Atrás" /> 
                                        <input type="button" name="make_payment" class="next action-button" value="Confirmar" />
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-card"> <!-- Pagado -->
                                            <h2 class="fs-title text-center">Terminado !</h2> <br><br>
                                            <div class="row justify-content-center">
                                                <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image"> </div>
                                            </div> <br><br>
                                            <div class="row justify-content-center">
                                                <div class="col-7 text-center">
                                                    <h5>Ya tienes tus facturas pagadas</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group"> 
                                            <button class = "btn-salir" type = "submit">Salir</button>
                                        </div>
                                    </fieldset>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){

                $('#tc').hide();

                var current_fs, next_fs, previous_fs; //fieldsets
                var opacity;

                $(".next").click(function(){

                    current_fs = $(this).parent();
                    next_fs = $(this).parent().next();

                    //Add Class Active
                    $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                    //show the next fieldset
                    next_fs.show();
                    //hide the current fieldset with style
                    current_fs.animate({opacity: 0}, {
                        step: function(now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                        });
                        next_fs.css({'opacity': opacity});
                        },
                        duration: 600
                    });
                });
                $(".previous").click(function(){

                    current_fs = $(this).parent();
                    previous_fs = $(this).parent().prev();

                    //Remove class active
                    $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                    //show the previous fieldset
                    previous_fs.show();

                    //hide the current fieldset with style
                    current_fs.animate({opacity: 0}, {
                        step: function(now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                        });
                        previous_fs.css({'opacity': opacity});
                        },
                        duration: 600
                    });
                });

                $('.radio-group .radio').click(function(){
                    $(this).parent().find('.radio').removeClass('selected');
                    $(this).addClass('selected');
                });
                $(".submit").click(function(){
                    return false;
                })
                $("#tipo").change(function(){
                    var op = $(this).find("option:selected").val();
                    if(op=="banco"){
                        $('#banco').show();
                        $('#tc').hide();
                        $('#nombreT').attr('required', false);
                        $('#no').attr('required', false);
                        $('#cvc').attr('required', false);
                        $('#año').attr('required', false);
                        $('#nombre').attr('required', true);
                        $('#email').attr('required', true);
                        $('#cedula').attr('required', true);

                    }else{
                        $('#banco').hide();
                        $('#tc').show();
                        $('#nombreT').attr('required', true);
                        $('#no').attr('required', true);
                        $('#cvc').attr('required', true);
                        $('#año').attr('required', true);
                        $('#nombre').attr('required', false);
                        $('#email').attr('required', false);
                        $('#cedula').attr('required', false);
                    }						
                });
            });
        </script>
    </body>
</html>