{% extends 'base.html' %}
{% load bootstrap4 %}
{% load leaflet_tags %}


{% block content %}
<div class="card card-primary leaflet-container">
    <div class="card-header">
      <h3 class="card-title">Mapa de localizacion de Subestaciones</h3>
    </div>
    <!-- /.card-header -->
    {% leaflet_map "mimapa" callback="window.map_init_basic" %}
    
  </div>
  <!-- /.card -->
{% endblock content %}

{% block js %}
<script type="text/javascript">
    function map_init_basic (map, options) {
        {% for subestacion in subestaciones %}
            L.marker(['{{subestacion.latitud}}', '{{subestacion.longitud}}']).addTo(map).bindPopup('Nombre: {{subestacion.nombre}}, Activa: {{subestacion.activo}}');
        {% endfor %}
    }
</script>

<style>

    .leaflet-container {  /* all maps */
        width:  800px;
        height: 500px;
    }

    #specialbigmap {
        height: 800px;
    }

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }

</style>


{% endblock js %}

