{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Registrar Subestacion</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="post">
      <div class="card-body">
       {% csrf_token %}   
       {% bootstrap_form form %}
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary toastrDefaultSuccess">Registrar</button>
      </div>
    </form>
  </div>
  <!-- /.card -->
{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'sucess' %}
      <script type="text/javascript">
        $(function(){
          toastr.success('{{message}}');
        });
      </script> 
   {% elif message.tags == 'error' %}
    <script type="text/javascript">
      $(function(){
        toastr.error('{{message}}');
      });
    </script>
    {% endif %}
  {% endfor %}
{% endif %}


{% endblock content %}

